<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <link rel="icon" type="image/svg+xml" href="/vite.svg" /> -->
    <script src="/src/library/live2d.min.js"></script>
    <script src="/src/library/live2dcubismcore.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + Vue</title>
    <script type="module" crossorigin src="/assets/index-BuWteCtL.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/index--QaMnwp5.css">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
