body {
  background-color: transparent;
  margin: 0;
  padding: 0;
}
#app {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: 100vh;
  background-color: transparent;
}